/*
* Google Fonts import:
* VT323 - monospace font for playing song
* Big Shoulders Stencil Text - display font for logo, cursive
* Baloo Da 2 - general font
* Goldman - for titles, headings
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700;800&family=Baloo+Da+2:wght@400;500;600;700&family=Goldman:wght@400;700&family=VT323&display=swap');
/*- Icons Import */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
/*- Color dynamic variables */

:root {
    --main-bg-color: rgb(36, 43, 51);
    --main-text-color: rgba(255, 255, 255, .75);
    --main-link-color: rgba(255, 255, 255, .55);
    --main-link-color-hover: rgb(255, 255, 255);
    --headings-color: rgb(255, 255, 255);
}

/*------------------------------------------ DOCUMENT */

html {
    background-color: rgb(0, 0, 0);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}

body {
    scroll-behavior: smooth;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 400;
    padding-top: .5rem;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background: none;
    /* Make address bar never dissapear on mobile */
    /* CREDIT: https://greensock.com/forums/topic/24315-prevent-address-bar-from-hiding-on-mobile-scroll-trigger/ */
    width: 100%;
    height: 100%;
    position: fixed;
    /* overflow-y: auto;
    -webkit-overflow-scrolling: touch; */
    overflow: hidden;
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

.backdrop {
    opacity: .95;
    /* Fallback for unsupported backdrop */
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
}

/*------------------------------------------ SUPPORTS */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .backdrop {
        background: none;
        opacity: 1;
        backdrop-filter: blur(35px) brightness(0.3);
        -webkit-backdrop-filter: blur(35px) brightness(0.3);
    }
}

/*------------------------------------------- MODALS */

.close-modal {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 99999;
    background: rgba(0, 0, 0, .5);
    padding: 0 1rem;
    border-bottom-left-radius: 2rem;
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

.close-modal:hover {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#playback-dialog .modal-content {
    background-color: #333;
}

#playback-dialog .modal-title {
    font-family: 'Baloo Da 2', cursive;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#dialog-yes {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--headings-color);
}

#dialog-yes:hover, #dialog-yes:active, #dialog-yes:focus {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

#dialog-no {
    color: rgba(255, 255, 255, .75);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

#yt-modal .modal-content {
    padding-top: 56.25%;
}

#yt-modal #yt-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#galleryModal .modal-dialog {
    max-width: calc(100vw - 3.5rem);
}

#galleryModal .modal-content {
    max-width: calc(100vw - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: none;
}

#galleryModal #galleryCarousel .carousel-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 3.5rem);
}

#galleryCarousel .carousel-control-next, #galleryCarousel .carousel-control-prev {
    width: 25%;
    background: none;
    border: none;
}

#galleryCarousel .carousel-control-next-icon, #galleryCarousel .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
}

#galleryCarousel .carousel-caption {
    background: rgba(0, 0, 0, .5);
    border-radius: 1rem;
}

#galleryCarousel .carousel-caption h3 {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#galleryCarousel .carousel-caption h5 {
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

/*---------------------------------------- BUTTONS */

.btn {
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    border-radius: 0.5rem;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .8);
}

.btn-dmn {
    color: rgba(255, 255, 255, .7);
    background-color: rgb(255, 255, 255);
    border-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--headings-color);
    border-color: var(--main-bg-color);
}

.btn-dmn:hover, .btn-dmn:active, .btn-dmn:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-link-color);
}

.btn-back {
    color: rgba(255, 255, 255, .75);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.btn-back:hover, .btn-back:active, .btn-back:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-link-color);
}

.btn-album-play {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    padding: .5rem 1rem;
    font-size: 1.25rem;
}

/*------------------------------------------ LINKS */

a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color);
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    /* Overwrites if suported */
    color: var(--main-link-color-hover);
}

/*------------------------------------------ HEADINGS */

h1, h2, h3, h4, h5, h5 {
    font-family: 'Goldman', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/*------------------------------------------ HEADER */

.navbar-brand {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
    font-size: 1.7rem;
    margin: -0.5rem 0.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

.navbar-collapse {
    width: auto;
}

.nav-link {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

.navbar-toggler {
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-bg-color);
}

.no-collapse {
    flex-direction: row;
    margin-left: auto;
}

.no-collapse .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

/*------------------------------------------ PLAYER */

div#player-screen {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding-top: 1.5rem;
}

div#player-screen::-webkit-scrollbar {
    width: .6rem;
}

div#player-screen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .1);
}

div#player-screen::-webkit-scrollbar-thumb {
    border-radius: .3rem;
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
}

div#player-screen:hover::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

div#player-top {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid rgb(36, 43, 51);
    box-shadow: 0px 0px 2rem rgb(36, 43, 51);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    box-shadow: 0px 0px 2rem var(--main-bg-color);
}

.rotate-art {
    -webkit-animation: spin 6s linear infinite reverse;
    -moz-animation: spin 6s linear infinite reverse;
    animation: spin 6s linear infinite reverse;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

div#player-top img[data-amplitude-song-info="cover_art_url"] {
    height: 100%;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

div.player-middle {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    text-align: center;
    position: relative;
}

div.player-middle span.song-name {
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    display: block;
}

div.player-middle div.song-artist-album {
    font-family: 'Baloo Da 2', cursive;
    opacity: 0.5;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
}

.player-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: .5rem 0;
    padding-bottom: .5rem;
}

.player-controls-container .shuffle-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-controls-container .shuffle-container .amplitude-shuffle {
    font-size: .8rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle i {
    font-size: 1.3rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off {
    color: rgba(255, 255, 255, .4);
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-on {
    display: none;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-off {
    display: block;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-on {
    display: block;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-off {
    display: none;
}

.player-controls-container .prev-container {
    width: 20%;
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

.player-controls-container .prev-container .amplitude-prev {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
    opacity: 0.8;
}

.player-controls-container .prev-container .amplitude-prev:hover {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

.player-controls-container .play-pause-container {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

.player-controls-container .play-pause-container:hover {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

.player-controls-container .play-pause-container .amplitude-play-pause {
    width: 3.7rem;
    height: 3.7rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
}

.player-controls-container .play-pause-container .amplitude-play-pause.amplitude-playing {
    background-image: url("../images/pause-fill.svg");
    background-size: cover;
}

.player-controls-container .play-pause-container .amplitude-play-pause.amplitude-paused {
    background-image: url("../images/play-fill.svg");
    background-size: cover;
}

.player-controls-container .next-container {
    width: 20%;
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

.player-controls-container .next-container .amplitude-next {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;
    filter: invert(1);
}

.player-controls-container .next-container .amplitude-next:hover {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

.player-controls-container .repeat-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

.player-controls-container .repeat-container .amplitude-repeat {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-controls-container .repeat-container .amplitude-repeat {
    font-size: .8rem;
}

.player-controls-container .repeat-container .amplitude-repeat i {
    font-size: 1.3rem;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off {
    color: rgba(255, 255, 255, .4);
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-on {
    display: none;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-off {
    display: block;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-on {
    display: block;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-off {
    display: none;
}

div#list {
    margin-top: 1.5rem;
    padding: 0 1rem;
}

div#list div.song {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    cursor: pointer;
    line-height: 1.5rem;
    height: 3.8rem;
    border-radius: 30px;
}

div#list div.song:hover {
    background-color: rgba(0, 0, 0, .4);
}

div#list div.song span.song-number-now-playing {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

div#list div.song span.song-number-now-playing span.number {
    opacity: 0.5;
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
}

div#list div.song span.song-number-now-playing img.now-playing {
    display: none;
}

div#list div.song.amplitude-active-song-container {
    background-color: rgba(0, 0, 0, .6);
}

div#list div.song.amplitude-active-song-container span.song-number-now-playing img.now-playing {
    display: inline-block;
    filter: invert(1);
}

div#list div.song.amplitude-active-song-container span.song-number-now-playing span.number {
    display: none;
}

div#list div.song.amplitude-active-song-container div.song-meta-container span.song-name {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

div#list div.song div.song-meta-container {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
    width: 100%;
    padding-left: 1rem;
}

div#list div.song div.song-meta-container span.song-name {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 500;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: 0.47px;
    display: block;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

div#list div.song div.song-meta-container span.song-artist-album {
    font-family: 'Baloo Da 2', cursive;
    font-size: .75rem;
    line-height: .9rem;
    /* IE Fallback */
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
    letter-spacing: 0.47px;
    display: block;
}

div#list div.song span.song-duration {
    display: inline-block;
    opacity: 0.5;
    font-family: 'Goldman', cursive;
    font-size: .9rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    width: 3.5rem;
    text-align: center;
}

div#list div.song span.song-artist-album {
    color: #5277b0;
}

#collapse-player {
    display: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99999;
    padding: 0 1rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

/*--------------------------------- FOOTER / PLAYER CONTROLS */

.player-progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    position: relative;
    margin: .5rem 0;
    padding: 0 1rem;
}

.player-progress-bar-container .seeker {
    width: 100%;
}

.player-progress-bar-container .time-container {
    font-family: 'Goldman', cursive;
    position: relative;
    color: white;
    font-size: .8rem;
    width: 4rem;
}

.amplitude-duration-time {
    text-align: right;
}

div.amplitude-wave-form svg {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
    stroke-width: .5px;
}

div.amplitude-wave-form svg g {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
}

div.amplitude-wave-form svg g path {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
}

input[type="range"]#global-large-song-slider {
    width: 100%;
    margin-top: -3rem;
    -webkit-appearance: none;
    z-index: 1031;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input[type="range"]#global-large-song-slider:focus {
    outline: none;
}

input[type="range"]#global-large-song-slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

input[type="range"]#global-large-song-slider::-webkit-slider-thumb {
    width: 5px;
    height: 3rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
}

input[type="range"]#global-large-song-slider::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    border-radius: 0px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

input[type="range"]#global-large-song-slider::-moz-range-thumb {
    width: 5px;
    height: 3rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -1.5rem;
}

input[type="range"]#global-large-song-slider::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

input[type="range"]#global-large-song-slider::-ms-fill-lower {
    background: transparent;
}

input[type="range"]#global-large-song-slider::-ms-fill-upper {
    background: transparent;
}

input[type="range"]#global-large-song-slider::-ms-thumb {
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -10px;
}

div#now-playing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative;
}

div#now-playing div#now-playing-cover {
    width: 3.5rem;
    height: 3.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(36, 43, 51);
    box-shadow: 0px 0px .5rem rgb(36, 43, 51);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    box-shadow: 0px 0px .5rem var(--main-bg-color);
}

div#now-playing #meta-container {
    margin: 0 0 0 1rem;
}

div#now-playing span.song-name {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    display: block;
}

div#now-playing div.song-artist-album {
    font-family: 'VT323', monospace;
    opacity: 0.5;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1rem;
}

footer div#controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

footer div#shuffle-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

footer div#shuffle-container .amplitude-shuffle {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div#shuffle-container .amplitude-shuffle {
    font-size: .8rem;
}

footer div#shuffle-container .amplitude-shuffle i {
    font-size: 1.3rem;
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-off {
    color: rgba(255, 255, 255, .4);
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-on {
    display: none;
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-off {
    display: block;
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-on {
    display: block;
}

footer div#shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-off {
    display: none;
}

footer div#prev-container {
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

footer div#prev-container div#previous {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
    opacity: 0.8;
}

footer div#prev-container div#previous:hover {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

footer div#play-pause-container {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

footer div#play-pause-container:hover {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

footer div#play-pause-container div#play-pause {
    width: 3.7rem;
    height: 3.7rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
}

footer div#play-pause-container div#play-pause.amplitude-playing {
    background-image: url("../images/pause-fill.svg");
    background-size: cover;
}

footer div#play-pause-container div#play-pause.amplitude-paused {
    background-image: url("../images/play-fill.svg");
    background-size: cover;
}

footer div#next-container {
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

footer div#next-container div#next {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;
    filter: invert(1);
}

footer div#next-container div#next:hover {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

footer div#repeat-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

footer div#repeat-container .amplitude-repeat {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div#repeat-container .amplitude-repeat {
    font-size: .8rem;
}

footer div#repeat-container .amplitude-repeat i {
    font-size: 1.3rem;
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-off {
    color: rgba(255, 255, 255, .4);
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-on {
    display: none;
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-off {
    display: block;
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-on {
    display: block;
}

footer div#repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-off {
    display: none;
}

#expand-player {
    width: 3rem;
    height: 3.5rem;
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
    text-align: center;
}

#expand-player i {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    -webkit-animation: MoveUpDown 1s linear infinite;
    animation: MoveUpDown 1s linear infinite;
}

/** CREDIT:
* https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3
* for up and down animation */

@-webkit-keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------------------------- PAGE CONTENT */

#content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding: 1.5rem 0;
}

#content::-webkit-scrollbar {
    width: .6rem;
}

#content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .1);
}

#content::-webkit-scrollbar-thumb {
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
    border-radius: .3rem;
}

#content:hover::-webkit-scrollbar-thumb {
    background-color: var(--headings-color);
}

/*---------------------------------------------- HOME PAGE */

.hero {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    border: 1px solid rgb(36, 43, 51);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-link-color);
    margin-bottom: 1.5rem;
}

.hero-img {
    display: flex;
    padding: .5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.hero-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-title {
    text-align: center;
    font-size: 2rem;
}

.hero-text {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

.btn-hero {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

#hero-contact {
    cursor: pointer;
}

#hero-contact .hero-img {
    color: rgb(255, 255, 255);
}

#hero-contact .hero-title {
    color: rgb(255, 255, 255);
}

#hero-contact .btn-hero {
    background-color: rgba(255, 255, 255, .8);
}

#hero-music {
    background-color: rgba(255, 255, 255, .9);
}

#hero-music .hero-img {
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

#hero-music .btn-hero {
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, .8);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--headings-color);
}

#hero-music .btn-hero-videos {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

#hero-music .btn-hero-gallery {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-link-color);
}

#hero-social {
    background-color: rgba(255, 255, 255, .9);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

#hero-social .hero-img {
    color: rgb(255, 255, 255);
}

#hero-social .hero-text {
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

#hero-social .hero-title {
    color: rgb(255, 255, 255);
}

#hero-social .btn-hero {
    background-color: rgba(255, 255, 255, .8);
}

.hero-social-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hero-social-buttons a i {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    text-align: center;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 3px var(--main-bg-color);
    box-shadow: 0px 0px 3px var(--main-bg-color);
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.hero-social-buttons a i:hover {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 5px var(--main-bg-color);
    box-shadow: 0px 0px 5px var(--main-bg-color);
}

.hero-social-buttons a i.fa-facebook {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(59, 89, 152);
}

.hero-social-buttons a i.fa-facebook:hover {
    color: rgb(59, 89, 152);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-youtube {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(255, 0, 0);
}

.hero-social-buttons a i.fa-youtube:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-twitter {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(0, 172, 238);
}

.hero-social-buttons a i.fa-twitter:hover {
    color: rgb(0, 172, 238);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-instagram {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(138, 58, 185);
}

.hero-social-buttons a i.fa-instagram:hover {
    color: rgb(138, 58, 185);
    background-color: rgb(255, 255, 255);
}

#hero-contact .btn-hero:hover, #hero-music .btn-hero:hover, #hero-music .btn-hero-videos:hover, #hero-music .btn-hero-gallery:hover {
    color: rgb(36, 43, 51);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-bg-color);
    background-color: var(--main-link-color-hover);
}

/*------------------------------------- MUSIC LIBRARY PAGE */

.album-card {
    width: 100%;
    padding-bottom: 100%;
    background: none;
    position: relative;
    cursor: pointer;
    margin: .7rem 0;
}

.album-card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.album-card:hover .album-card-image {
    animation: slide-rotate 1s forwards;
}

@keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

.album-card .album-card-label {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 43, 51);
    border: 5px solid rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-link-color);
}

.album-card-name {
    font-weight: 800;
}

.album-details {
    text-align: center;
}

.album-art-container {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    padding-top: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, .55);
    border: 1px solid rgb(36, 43, 51);
    /* Overwrites if supported */
    box-shadow: 0px 0px 2rem var(--main-link-color);
    border: 1px solid var(--main-bg-color);
}

.album-art {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.album-title {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    display: block;
    padding-top: .5rem;
}

.album-artist {
    opacity: 0.5;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    display: block;
    padding-bottom: .5rem;
}

.album-songs {
    margin-top: 1rem;
}

.album-song-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.album-song-container:hover {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2rem;
}

.album-song-container:hover .album-song-name {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

.album-song-container:hover .album-song-play {
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--main-link-color-hover);
}

.album-song-index {
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    width: 2rem;
    text-align: center;
}

.album-song-name {
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.album-song-play {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .75);
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
}

.album-song-duration {
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    width: 3.5rem;
    text-align: center;
}

/*------------------------------------- VIDEO LIBRARY PAGE */

.video-col {
    cursor: pointer;
}

.video-thumb-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border-radius: .5rem;
}

.yt-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video-play-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30%;
    margin-left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

.video-title {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: .5rem;
}

.video-col:hover .video-play-icon, .video-col:hover .video-title {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

/*------------------------------------- PHOTO GALLERY PAGE */

.gallery-image {
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
    opacity: .7;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.gallery-image:hover {
    opacity: 1;
}

/*------------------------------------------ MEDIA QUERIES */

/* Small screen */

@media(max-width:576px) {
    .hero {
        flex-direction: column;
    }
    .album-song-name {
        width: 100%;
    }
}

/* Medium screen player collapsed */

@media(min-width:577px) and (max-width:767px) {
    .hero {
        flex-direction: row;
    }
}

/* Medium Screen */

@media(max-width:767px) {
    .navbar-collapse .navbar-nav {
        text-align: right;
        padding-right: .75rem;
        background-color: rgb(36, 43, 51);
        /* Overwrites if supported */
        background-color: var(--main-bg-color);
    }
    .navbar-collapse {
        width: 100%;
    }
    #player-collapse {
        position: absolute;
        top: 100vh;
        visibility: hidden;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1031;
        padding: 0;
        transition: .5s linear;
    }
    #player-screen {
        background-color: rgba(0, 0, 0, .7);
    }
    div#player-screen::-webkit-scrollbar {
        display: none;
    }
    #content::-webkit-scrollbar {
        display: none;
    }
    footer div#play-pause-container {
        width: 2.5rem;
        height: 3.5rem;
        padding: .6rem 0 0 0;
        background: none;
    }
    footer div#play-pause-container:hover {
        background: none;
    }
    footer div#play-pause-container div#play-pause {
        width: 2.5rem;
        height: 2.5rem;
    }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        #player-screen {
            backdrop-filter: blur(10px) saturate(0.5);
            background: none;
        }
    }
}

/* Medium Screen player expanded */

@media(min-width:768px) and (max-width:991px) {
    .hero {
        flex-direction: column;
    }
}