/*
* Google Fonts import:
* VT323 - monospace font for playing song
* Big Shoulders Stencil Text - display font for logo, cursive
* Baloo Da 2 - general font
* Goldman - for titles, headings
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700;800&family=Baloo+Da+2:wght@400;500;600;700&family=Goldman:wght@400;700&family=VT323&display=swap');
/*- Icons Import */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
/*- Color dynamic variables */

:root {
    --main-bg-color: rgb(36, 43, 51);
    /* --darker-bg-color: rgba(36, 43, 51, .75); */
    --main-text-color: rgba(255, 255, 255, .75);
    --main-link-color: rgba(255, 255, 255, .55);
    --main-link-color-hover: rgb(255, 255, 255);
    --headings-color: rgb(255, 255, 255);
}

/*------------------------------------------ DOCUMENT */

html {
    scroll-behavior: smooth;
    background-color: #000;
}

body {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 400;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/*------------------------------------------ LINKS */

a {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    color: var(--main-link-color-hover);
}

/*------------------------------------------ HEADINGS */

h1, h2, h3, h4, h5, h5 {
    font-family: 'Goldman', cursive;
    color: var(--headings-color);
}

h1, h2 {
    text-transform: uppercase;
}

/*------------------------------------------ FORMS */

/*------------------------------------------ COLORS */

/*------------------------------------------ HEADER */

.navbar-brand {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
    font-size: 1.7rem;
    margin: -0.5rem 0.5rem;
    padding: 0;
    color: var(--headings-color);
}

.nav-link {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 600;
    white-space: nowrap;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: var(--main-link-color);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    color: var(--main-link-color-hover);
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.no-collapse {
    flex-direction: row;
}

.no-collapse .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

/*------------------------------------------ PLAYER */

div#player-screen {
    overflow-y: scroll;
    max-height: 80vh;
}

div#list div.song {
    padding: 15px;
    background-color: #242b33;
    margin-bottom: 1px;
    cursor: pointer;
    line-height: 24px;
}

div#list div.song span.song-number-now-playing {
    display: inline-block;
    width: 24px;
    text-align: center;
}

div#list div.song span.song-number-now-playing span.number {
    opacity: 0.5;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
}

div#list div.song span.song-number-now-playing img.now-playing {
    display: none;
}

div#list div.song.amplitude-active-song-container {
    background-color: #30363e;
}

div#list div.song.amplitude-active-song-container span.song-number-now-playing img.now-playing {
    display: inline-block;
}

div#list div.song.amplitude-active-song-container span.song-number-now-playing span.number {
    display: none;
}

div#list div.song div.song-meta-container {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    width: calc(100% - 80px);
}

div#list div.song div.song-meta-container span.song-name {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #55b560;
    letter-spacing: 0.47px;
    display: block;
}

div#list div.song div.song-meta-container span.song-artist-album {
    font-family: 'Baloo Da 2', cursive;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    letter-spacing: 0.47px;
    display: block;
}

div#list div.song span.song-duration {
    display: inline-block;
    opacity: 0.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    width: 35px;
    text-align: center;
}

div#list div.song span.song-artist-album {
    color: #5277b0;
}

div#player-top {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.rotate-art {
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

div#player-top img[data-amplitude-song-info="cover_art_url"] {
    height: 100%;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

div#player-progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: #000;
    position: relative;
    margin-top: -6px;
}

div#player-progress-bar-container progress#song-played-progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 6px;
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    border: none;
    cursor: pointer;
    background: transparent;
}

div#player-progress-bar-container:hover progress#song-played-progress {
    height: 8px;
    top: -2px;
}

div#player-progress-bar-container progress#song-played-progress[value]::-webkit-progress-bar {
    background: none;
}

div#player-progress-bar-container progress#song-played-progress[value]::-webkit-progress-value {
    background: white;
}

div#player-progress-bar-container progress#song-played-progress[value]::-moz-progress-bar {
    background: white;
}

div#player-progress-bar-container progress#song-buffered-progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    border: none;
    background: transparent;
}

div#player-progress-bar-container:hover progress#song-buffered-progress {
    height: 6px;
    top: -1px;
}

div#player-progress-bar-container progress#song-buffered-progress[value]::-webkit-progress-bar {
    background: none;
}

div#player-progress-bar-container progress#song-buffered-progress[value]::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.1s ease;
}

div#player-progress-bar-container progress#song-buffered-progress[value]::-moz-progress-bar {
    background: rgba(255, 255, 255, 0.5);
}

div#player-middle {
    background-color: #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

div#player-middle div#time-container {
    color: white;
    width: 100%;
    background-color: #000;
    font-size: 14px;
    font-weight: bold;
}

div#player-middle div#time-container span.amplitude-duration-time {
    position: absolute;
    top: 0px;
    right: 5px;
}

div#player-middle div#time-container span.amplitude-current-time {
    position: absolute;
    top: 0px;
    left: 5px;
}

div#player-middle span.song-name {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 24px;
    display: block;
}

div#player-middle div.song-artist-album {
    font-family: 'VT323', monospace;
    opacity: 0.5;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 16px;
}

/*------------------------------------------ PLAYER CONTROLS */

footer div#shuffle-container {
    float: left;
    width: 20%;
    height: 60px;
    padding-top: 21px;
}

footer div#shuffle-container div#shuffle {
    width: 16px;
    height: 17px;
    cursor: pointer;
    margin: auto;
    opacity: 0.7;
}

footer div#shuffle-container div#shuffle.amplitude-shuffle-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/shuffle.svg");
}

footer div#shuffle-container div#shuffle.amplitude-shuffle-off:hover {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/shuffle-on.svg");
    opacity: 0.8;
}

footer div#shuffle-container div#shuffle.amplitude-shuffle-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/shuffle-on.svg");
    opacity: 1;
}

footer div#shuffle-container div#shuffle.amplitude-shuffle-on:hover {
    opacity: 1;
}

footer div#prev-container {
    width: 20%;
    float: left;
    height: 60px;
    padding-top: 18px;
}

footer div#prev-container div#previous {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/previous.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto;
}

footer div#prev-container div#previous:hover {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/previous-hover.svg");
}

footer div#play-pause-container {
    width: 20%;
    float: left;
    height: 60px;
}

footer div#play-pause-container div#play-pause {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: auto;
}

footer div#play-pause-container div#play-pause.amplitude-playing {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/pause.svg");
}

footer div#play-pause-container div#play-pause.amplitude-paused {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/play.svg");
}

footer div#next-container {
    width: 20%;
    float: left;
    height: 60px;
    padding-top: 18px;
}

footer div#next-container div#next {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/next.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto;
}

footer div#next-container div#next:hover {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/next-hover.svg");
}

footer div#repeat-container {
    float: left;
    width: 20%;
    height: 60px;
    padding-top: 20px;
}

footer div#repeat-container div#repeat {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/repeat.svg");
    width: 18px;
    height: 20px;
    cursor: pointer;
    margin: auto;
    opacity: 0.7;
}

footer div#repeat-container div#repeat:hover {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/repeat-on.svg");
    opacity: 0.8;
}

footer div#repeat-container div#repeat.amplitude-repeat-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/flat-black/repeat-on.svg");
    opacity: 1;
}

footer div#repeat-container div#repeat.amplitude-repeat-on:hover {
    opacity: 1;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

input#seeker {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    top: -5px;
    z-index: 10;
    cursor: pointer;
}

input#seeker::-webkit-slider-thumb {
    /* Chrome */
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    margin-top: 2px;
}

input#seeker:hover::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    margin-top: 0;
}

input#seeker::-moz-range-thumb {
    /* Mozilla */
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fff;
}

input#seeker:hover::-moz-range-thumb {
    height: 14px;
    width: 14px;
    margin-top: 0;
}

input#seeker::-ms-thumb {
    /* IE */
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fff;
}

input#seeker:hover::-ms-thumb {
    height: 14px;
    width: 14px;
    margin-top: 0;
}

input#seeker:focus {
    outline: none;
}

input#seeker::-webkit-slider-runnable-track {
    /* Chrome */
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input#seeker::-moz-range-track {
    /* Mozila */
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input#seeker::-ms-track {
    /* IE */
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/*------------------------------------------ MEDIA QUERIES */

/* Tiny Screen Landscape */

@media (orientation: landscape) and (max-height: 300px) {}

/* XS screen */

@media(max-width:324px), (max-height: 590px) {}

/* XS Screen Landscape */

@media (orientation: landscape) and (max-height: 430px) {}

/* Small screen */

@media(max-width:576px) {}

/* Medium Screen */

@media(max-width:767px) {
    .navbar-collapse .navbar-nav {
        background-color: var(--main-bg-color);
        text-align: right;
        padding-right: .75rem;
    }
}

/* Large Screen */

@media(max-width:991px) {}