/*
* Google Fonts import:
* VT323 - monospace font for playing song
* Big Shoulders Stencil Text - display font for logo, cursive
* Baloo 2 - general font
* Goldman - for titles, headings
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700;800&family=Baloo+2:wght@400;500;600;700&family=Goldman:wght@400;700&family=VT323&display=swap');
/*- Icons Import */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
/*- Color dynamic variables */

:root {
    --main-bg-color: rgb(36, 43, 51);
    --main-text-color: rgba(255, 255, 255, .75);
    --main-link-color: rgba(255, 255, 255, .55);
    --main-link-color-hover: rgb(255, 255, 255);
    --headings-color: rgb(255, 255, 255);
}

/*------------------------------------------ DOCUMENT */

html {
    background-color: rgb(0, 0, 0);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}

/* 
* Make address bar never dissapear on mobile 
* CREDIT: https://greensock.com/forums/topic/24315-prevent-address-bar-from-hiding-on-mobile-scroll-trigger/?do=findComment&comment=115562
*/

body {
    scroll-behavior: smooth;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding-top: .5rem;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

.backdrop {
    opacity: .95;
    /* Fallback for unsupported backdrop */
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
}

/*------------------------------------------ SUPPORTS */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .backdrop {
        background: none;
        opacity: 1;
        backdrop-filter: blur(35px) brightness(0.3);
        -webkit-backdrop-filter: blur(35px) brightness(0.3);
    }
}

/*------------------------------------------- MODALS */

.close-modal {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 99999;
    background: rgba(0, 0, 0, .5);
    padding: 0 1rem;
    border-bottom-left-radius: 2rem;
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

.close-modal:hover {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#playback-dialog .modal-content {
    background-color: #333;
}

#playback-dialog .modal-title {
    font-family: 'Baloo 2', cursive;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#dialog-yes {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--headings-color);
}

#dialog-yes:hover, #dialog-yes:active, #dialog-yes:focus {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

#dialog-no {
    color: rgba(255, 255, 255, .75);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

#yt-modal .modal-content {
    padding-top: 56.25%;
}

#yt-modal #yt-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#galleryModal .modal-content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: none;
}

#galleryModal #galleryCarousel #gallery-show-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#galleryCarousel #carousel-next, #galleryCarousel #carousel-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    width: 25%;
    background: none;
    border: none;
}

#galleryCarousel #carousel-next {
    right: 0;
}

#galleryCarousel #carousel-next:hover, #galleryCarousel #carousel-prev:hover, #galleryCarousel #carousel-next:focus, #galleryCarousel #carousel-prev:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

#galleryCarousel #carousel-next i, #galleryCarousel #carousel-prev i {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    line-height: 5rem;
    text-shadow: 2px 2px 2px rgb(36 43 51);
    /* Overwrites if supported */
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

#galleryCarousel .carousel-caption {
    background: rgba(0, 0, 0, .7);
    border-radius: 1rem;
    left: 1rem;
    right: 1rem;
}

#galleryCarousel .carousel-caption h3 {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#galleryCarousel .carousel-caption h5 {
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
}

/*---------------------------------------- BUTTONS */

.btn {
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    border-radius: 0.5rem;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .8);
}

.btn-dmn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--headings-color);
    border-color: var(--main-bg-color);
}

.btn-dmn:hover, .btn-dmn:active, .btn-dmn:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-link-color);
}

.btn-shuffle {
    color: rgb(36, 43, 51);
    background-color: rgba(255, 255, 255, .8);
    border-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    border-color: var(--main-bg-color);
    margin-bottom: .5rem;
}

.btn-shuffle:hover, .btn-shuffle:active, .btn-shuffle:focus {
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
    background-color: var(--main-link-color-hover);
}

.btn-back {
    color: rgba(255, 255, 255, .75);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.btn-back:hover, .btn-back:active, .btn-back:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-link-color);
}

.btn-album-play {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    padding: .5rem 1rem;
    font-size: 1.25rem;
}

/*------------------------------------------ LINKS */

a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color);
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    /* Overwrites if suported */
    color: var(--main-link-color-hover);
}

/*------------------------------------------ HEADINGS */

h1, h2, h3, h4, h5, h5 {
    font-family: 'Goldman', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

h1, h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/*------------------------------------------ HEADER */

.navbar-brand {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
    font-size: 1.7rem;
    margin: -0.5rem 0.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

.navbar-collapse {
    width: auto;
}

.nav-link {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 2px 2px 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    text-shadow: 2px 2px 2px var(--main-bg-color);
}

.navbar-toggler {
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    color: var(--main-link-color);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-bg-color);
}

.no-collapse {
    flex-direction: row;
    margin-left: auto;
}

.no-collapse .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

/*------------------------------------------ PLAYER */

#player-screen {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding-top: 1.5rem;
}

#player-screen::-webkit-scrollbar {
    width: .6rem;
}

#player-screen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .1);
}

#player-screen::-webkit-scrollbar-thumb {
    border-radius: .3rem;
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
}

#player-screen:hover::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

#player-top {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid rgb(36, 43, 51);
    box-shadow: 0px 0px 2rem rgb(36, 43, 51);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    box-shadow: 0px 0px 2rem var(--main-bg-color);
}

.rotate-art {
    -webkit-animation: spin 6s linear infinite reverse;
    -moz-animation: spin 6s linear infinite reverse;
    animation: spin 6s linear infinite reverse;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

#player-top img[data-amplitude-song-info="cover_art_url"] {
    height: 100%;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

.player-middle {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    text-align: center;
    position: relative;
}

.player-middle .song-name {
    font-family: 'Baloo 2', cursive;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    display: block;
}

.player-middle .song-artist-album {
    font-family: 'Baloo 2', cursive;
    opacity: 0.5;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
}

.player-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: .5rem 0;
    padding-bottom: .5rem;
}

.player-controls-container .shuffle-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-controls-container .shuffle-container .amplitude-shuffle {
    font-size: .8rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle i {
    font-size: 1.3rem;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off {
    color: rgba(255, 255, 255, .4);
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-on {
    display: none;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-off {
    display: block;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-on {
    display: block;
}

.player-controls-container .shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-off {
    display: none;
}

.player-controls-container .prev-container {
    width: 20%;
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

.player-controls-container .prev-container .amplitude-prev {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
    opacity: 0.8;
}

.player-controls-container .prev-container .amplitude-prev:hover {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

.player-controls-container .play-pause-container {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

.player-controls-container .play-pause-container:hover {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

.player-controls-container .play-pause-container .amplitude-play-pause {
    width: 3.7rem;
    height: 3.7rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
}

.player-controls-container .play-pause-container .amplitude-play-pause.amplitude-playing {
    background-image: url("../images/pause-fill.svg");
    background-size: cover;
}

.player-controls-container .play-pause-container .amplitude-play-pause.amplitude-paused {
    background-image: url("../images/play-fill.svg");
    background-size: cover;
}

.player-controls-container .next-container {
    width: 20%;
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

.player-controls-container .next-container .amplitude-next {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;
    filter: invert(1);
}

.player-controls-container .next-container .amplitude-next:hover {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

.player-controls-container .repeat-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

.player-controls-container .repeat-container .amplitude-repeat {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-controls-container .repeat-container .amplitude-repeat {
    font-size: .8rem;
}

.player-controls-container .repeat-container .amplitude-repeat i {
    font-size: 1.3rem;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off {
    color: rgba(255, 255, 255, .4);
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-on {
    display: none;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-off {
    display: block;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-on {
    display: block;
}

.player-controls-container .repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-off {
    display: none;
}

#list {
    margin-top: 1.5rem;
    padding: 0 1rem;
}

#list .song {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    cursor: pointer;
    line-height: 1.5rem;
    height: 3.8rem;
    border-radius: 30px;
}

#list .song:hover {
    background-color: rgba(0, 0, 0, .4);
}

#list .song .song-number-now-playing {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

#list .song .song-number-now-playing .number {
    opacity: 0.5;
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
}

#list .song .song-number-now-playing .now-playing {
    display: none;
}

#list .song.amplitude-active-song-container {
    background-color: rgba(0, 0, 0, .6);
}

#list .song.amplitude-active-song-container .song-number-now-playing .now-playing {
    display: inline-block;
    filter: invert(1);
}

#list .song.amplitude-active-song-container .song-number-now-playing .number {
    display: none;
}

#list .song.amplitude-active-song-container .song-meta-container .song-name {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#list .song .song-meta-container {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
    width: 100%;
    padding-left: 1rem;
}

#list .song .song-meta-container .song-name {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: 0.47px;
    display: block;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

#list .song .song-meta-container .song-artist-album {
    font-family: 'Baloo 2', cursive;
    font-size: .75rem;
    line-height: .9rem;
    /* IE Fallback */
    color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    color: var(--main-text-color);
    letter-spacing: 0.47px;
    display: block;
}

#list .song .song-duration {
    display: inline-block;
    opacity: 0.5;
    font-family: 'Goldman', cursive;
    font-size: .9rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    width: 3.5rem;
    text-align: center;
}

#list .song .song-artist-album {
    color: #5277b0;
}

#collapse-player {
    display: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99999;
    padding: 0 1rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

/*--------------------------------- FOOTER / PLAYER CONTROLS */

.player-progress-bar-card {
    background-color: rgba(255, 255, 255, .07);
    border-top-left-radius: 1rem;
}

.player-progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    position: relative;
    margin: .5rem 0;
    padding: 0 1rem;
}

.player-progress-bar-container .seeker {
    width: 100%;
}

.player-progress-bar-container .time-container {
    font-family: 'Goldman', cursive;
    position: relative;
    color: white;
    font-size: .8rem;
    width: 4rem;
}

.amplitude-duration-time {
    text-align: right;
}

.amplitude-wave-form svg {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
    stroke-width: .5px;
}

.amplitude-wave-form svg g {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
}

.amplitude-wave-form svg g path {
    stroke: var(--headings-color);
    height: 3rem;
    width: 100%;
}

.amplitude-song-slider {
    width: 100%;
    margin-top: -3rem;
    -webkit-appearance: none;
    z-index: 1031;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.amplitude-song-slider:focus {
    outline: none;
}

.amplitude-song-slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

.amplitude-song-slider::-webkit-slider-thumb {
    width: 5px;
    height: 3rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
}

.amplitude-song-slider::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    border-radius: 0px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

.amplitude-song-slider::-moz-range-thumb {
    width: 5px;
    height: 3rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -1.5rem;
}

.amplitude-song-slider::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

.amplitude-song-slider::-ms-fill-lower {
    background: transparent;
}

.amplitude-song-slider::-ms-fill-upper {
    background: transparent;
}

.amplitude-song-slider::-ms-thumb {
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -10px;
}

#now-playing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-color: rgba(255, 255, 255, .07);
    border-top-left-radius: 1rem;
}

#now-playing #now-playing-cover {
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(36, 43, 51);
    box-shadow: 0px 0px .5rem rgb(36, 43, 51);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    box-shadow: 0px 0px .5rem var(--main-bg-color);
}

.meta-container {
    overflow: hidden;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.meta-container span {
    position: relative;
    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    display: block;
    white-space: nowrap;
    left: 0;
}

.meta-container .song-name {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-height: 1.5rem;
}

.meta-container span[data-amplitude-song-info="artist"], .meta-container span[data-amplitude-song-info="album"] {
    opacity: 0.5;
    font-size: 1rem;
    line-height: 1rem;
    max-height: 1rem;
}

footer #controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background-color: rgba(255, 255, 255, .07);
    border-top-right-radius: 1rem;
}

footer #shuffle-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

footer #shuffle-container .amplitude-shuffle {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #shuffle-container .amplitude-shuffle {
    font-size: .8rem;
}

footer #shuffle-container .amplitude-shuffle i {
    font-size: 1.3rem;
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-off {
    color: rgba(255, 255, 255, .4);
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-on {
    display: none;
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-off .shuffle-off {
    display: block;
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-on {
    display: block;
}

footer #shuffle-container .amplitude-shuffle.amplitude-shuffle-on .shuffle-off {
    display: none;
}

footer #prev-container {
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

footer #prev-container #previous {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
    opacity: 0.8;
}

footer #prev-container #previous:hover {
    background: url("../images/skip-start-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

footer #play-pause-container {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

footer #play-pause-container:hover {
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

footer #play-pause-container #play-pause {
    width: 3.7rem;
    height: 3.7rem;
    cursor: pointer;
    margin: auto;
    filter: invert(1);
}

footer #play-pause-container #play-pause.amplitude-playing {
    background-image: url("../images/pause-fill.svg");
    background-size: cover;
}

footer #play-pause-container #play-pause.amplitude-paused {
    background-image: url("../images/play-fill.svg");
    background-size: cover;
}

footer #next-container {
    height: 3.5rem;
    padding: .6rem 0 0 0;
}

footer #next-container #next {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;
    filter: invert(1);
}

footer #next-container #next:hover {
    background: url("../images/skip-end-fill.svg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

footer #repeat-container {
    text-align: center;
    width: 20%;
    height: 3.5rem;
}

footer #repeat-container .amplitude-repeat {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #repeat-container .amplitude-repeat {
    font-size: .8rem;
}

footer #repeat-container .amplitude-repeat i {
    font-size: 1.3rem;
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-off {
    color: rgba(255, 255, 255, .4);
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-on {
    display: none;
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-off .repeat-off {
    display: block;
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-on {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-on {
    display: block;
}

footer #repeat-container .amplitude-repeat.amplitude-repeat-on .repeat-off {
    display: none;
}

#expand-player {
    width: 3rem;
    height: 3.5rem;
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
    text-align: center;
}

#expand-player i {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    -webkit-animation: MoveUpDown 1s linear infinite;
    animation: MoveUpDown 1s linear infinite;
}

/*
* CREDIT: https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3
* for up and down animation
*/

@-webkit-keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

@-ms-keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

@-moz-keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

@-o-keyframes MoveUpDown {
    0%, 100% {
        bottom: 1.5rem;
    }
    50% {
        bottom: 2rem;
    }
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------------------------- PAGE CONTENT */

#content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding: 1.5rem 0;
}

#content::-webkit-scrollbar {
    width: .6rem;
}

#content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .1);
}

#content::-webkit-scrollbar-thumb {
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
    border-radius: .3rem;
}

#content:hover::-webkit-scrollbar-thumb {
    background-color: var(--headings-color);
}

/*---------------------------------------------- HOME PAGE */

.hero {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    border: 1px solid rgb(36, 43, 51);
    background-color: rgba(255, 255, 255, .55);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-link-color);
    margin-bottom: 1.5rem;
}

.hero-img {
    display: flex;
    padding: .5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.hero-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-title {
    text-align: center;
    font-size: 2rem;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.hero-text {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

.btn-hero {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

#hero-contact {
    cursor: pointer;
}

#hero-contact .hero-img {
    color: rgb(255, 255, 255);
}

#hero-contact .hero-title {
    color: rgb(255, 255, 255);
}

#hero-contact .btn-hero {
    background-color: rgba(255, 255, 255, .8);
}

#hero-music {
    background-color: rgba(255, 255, 255, .9);
}

#hero-music .hero-img {
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

#hero-music .btn-hero {
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--headings-color);
}

#hero-music .btn-hero-videos {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-bg-color);
}

#hero-music .btn-hero-gallery {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
    background-color: var(--main-link-color);
}

#hero-social {
    background-color: rgba(255, 255, 255, .9);
    /* Overwrites if supported */
    background-color: var(--headings-color);
}

#hero-social .hero-img {
    color: rgb(255, 255, 255);
}

#hero-social .hero-text {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

#hero-social .hero-title {
    color: rgb(255, 255, 255);
}

#hero-social .btn-hero {
    background-color: rgba(255, 255, 255, .8);
}

.hero-social-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hero-social-buttons a i {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    text-align: center;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 3px var(--main-bg-color);
    box-shadow: 0px 0px 3px var(--main-bg-color);
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.hero-social-buttons a i:hover {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 5px var(--main-bg-color);
    box-shadow: 0px 0px 5px var(--main-bg-color);
}

.hero-social-buttons a i.fa-facebook {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(59, 89, 152);
}

.hero-social-buttons a i.fa-facebook:hover {
    color: rgb(59, 89, 152);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-youtube {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(255, 0, 0);
}

.hero-social-buttons a i.fa-youtube:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-twitter {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(0, 172, 238);
}

.hero-social-buttons a i.fa-twitter:hover {
    color: rgb(0, 172, 238);
    background-color: rgb(255, 255, 255);
}

.hero-social-buttons a i.fa-instagram {
    color: rgba(255, 255, 255, .8);
    background-color: rgb(138, 58, 185);
}

.hero-social-buttons a i.fa-instagram:hover {
    color: rgb(138, 58, 185);
    background-color: rgb(255, 255, 255);
}

#hero-contact .btn-hero:hover, #hero-music .btn-hero:hover, #hero-music .btn-hero-videos:hover, #hero-music .btn-hero-gallery:hover {
    color: rgb(36, 43, 51);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-bg-color);
    background-color: var(--main-link-color-hover);
}

/*------------------------------------- MUSIC LIBRARY PAGE */

.album-card {
    width: 100%;
    padding-bottom: 100%;
    background: none;
    position: relative;
    cursor: pointer;
    margin: .7rem 0;
}

.album-card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.album-card:hover .album-card-image {
    animation: slide-rotate 1s forwards;
}

@keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

@-webkit-keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

@-ms-keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

@-moz-keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

@-o-keyframes slide-rotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: -2rem;
        left: -1rem;
        transform: rotate(-30deg);
    }
}

.album-card .album-card-label {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 43, 51);
    border: 5px solid rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-link-color);
}

.album-card-name {
    font-weight: 800;
}

.album-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.album-art-container {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    padding-top: 40%;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, .55);
    border: 1px solid rgb(36, 43, 51);
    /* Overwrites if supported */
    box-shadow: 0px 0px 2rem var(--main-link-color);
    border: 1px solid var(--main-bg-color);
}

.album-art {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.album-data {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.album-title {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    display: block;
    padding-top: .5rem;
}

.album-artist {
    opacity: 0.5;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    display: block;
    padding-bottom: .5rem;
}

.album-songs {
    margin-top: 1rem;
}

.album-song-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.album-song-container:hover {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2rem;
}

.album-song-container:hover .album-song-name {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

.album-song-container:hover .album-song-play {
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    background-color: var(--main-link-color-hover);
}

.album-song-index {
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    width: 2rem;
    text-align: center;
}

.album-song-name {
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.album-song-play {
    min-width: 5.5rem;
    width: 6rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .75);
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
}

.album-song-duration {
    font-family: 'Goldman', cursive;
    font-size: .8rem;
    width: 3.5rem;
    text-align: center;
}

/*------------------------------------- VIDEO LIBRARY PAGE */

.video-col {
    cursor: pointer;
}

.video-thumb-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border-radius: .5rem;
}

.yt-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video-play-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30%;
    margin-left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

.video-title {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: .5rem;
}

.video-col:hover .video-play-icon, .video-col:hover .video-title {
    color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--main-link-color-hover);
}

/*------------------------------------- PHOTO GALLERY PAGE */

.gallery-image {
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
    opacity: .7;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.gallery-image:hover {
    opacity: 1;
}

/*------------------------------------------ ABOUT ME PAGE */

/*
* CREDIT: Rafamaciel http: //bootsnipp.com/rafamaciel
* Snippet: https: //bootsnipp.com/snippets/7B7W
*/

.timeline {
    list-style: none;
    padding: 1rem 0 0 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    background-color: rgba(255, 255, 255, .75);
    /* Overwrites if supported */
    background-color: var(--main-link-color);
}

.timeline>li {
    margin: 1rem 0 1rem 0;
    padding: 0 0 0 1rem;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    border-radius: 1rem 0 1rem 1rem;
    width: calc(100% - 28px);
    width: -moz-calc(100% - 28px);
    width: -webkit-calc(100% - 28px);
    float: left;
    position: relative;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    border: 1px solid rgb(36, 43, 51);
    background-color: rgba(255, 255, 255, .9);
    /* Overwrites if supported */
    border: 1px solid var(--main-bg-color);
}

.timeline>li>.timeline-panel>.timeline-heading>h4 {
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.timeline>li>.timeline-panel>.timeline-heading {
    padding: .5rem;
    text-align: right;
}

.timeline>li>.timeline-panel>.timeline-body {
    padding: .5rem;
    text-align: right;
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

.timeline>li.timeline-inverted>.timeline-panel>.timeline-heading {
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel>.timeline-body {
    text-align: left;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 0;
    right: -15px;
    content: " ";
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid rgba(255, 255, 255, .9);
    border-right: 0 solid rgba(255, 255, 255, .9);
    border-bottom: 15px solid transparent;
}

.timeline>li>.timeline-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    line-height: 1.4rem;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: -1rem;
    z-index: 100;
    border-radius: 50%;
    color: rgb(36, 43, 51);
    background-color: rgb(255, 255, 255);
    /* Overwrites if supported */
    color: var(--headings-color);
    background-color: var(--main-link-color-hover);
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    border-radius: 0 1rem 1rem 1rem;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge {
    color: #C5C7C5;
}

.timeline>li.timeline-inverted {
    float: right;
    clear: right;
    margin: 1rem 0 1rem 0;
    padding: 0 1rem 0 0;
}

.timeline>li:nth-child(2) {
    margin-top: 4rem;
}

.timeline>li.timeline-inverted>.timeline-badge {
    left: -1rem;
}

/*-------------------------------------------- CONTACTPAGE */

.card-contact {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    background-color: rgb(36, 43, 51);
    /* Overwrites if supported */
    background-color: var(--main-bg-color);
}

.card-contact .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.card-contact .card-title {
    color: rgb(255, 255, 255);
}

.card-contact img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 100%;
    align-self: center;
}

.card-form {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, .9);
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--main-bg-color);
}

.card-form .card-title {
    color: rgb(36, 43, 51);
    /* Overwrites if supported */
    color: var(--headings-color);
}

.card-form .form-control {
    border-radius: 1rem;
}

.card-form .form-control:focus {
    border-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 2px rgb(36, 43, 51);
    /* Overwrites if supported */
    border-color: var(--main-link-color);
    box-shadow: 0 0 2px var(--main-bg-color);
}

/*------------------------------------------ MEDIA QUERIES */

/* XS screen */

@media(max-width:465px) {
    .album-title {
        font-size: 1.2rem;
    }
    .album-artist {
        font-size: .8rem;
    }
}

/* Small screen */

@media(max-width: 576px) {
    .album-song-name {
        width: 100%;
        overflow: hidden;
        line-height: 1.2rem;
        max-height: 1.2rem;
    }
}

/* Medium screen player collapsed */

@media(min-width:577px) and (max-width:767px) {
    .hero {
        flex-direction: row;
    }
}

/* Medium Screen */

@media(max-width:767px) {
    .navbar-collapse .navbar-nav {
        text-align: right;
        padding-right: .75rem;
        background-color: rgb(36, 43, 51);
        /* Overwrites if supported */
        background-color: var(--main-bg-color);
    }
    .navbar-collapse {
        width: 100%;
    }
    #player-collapse {
        position: absolute;
        top: 100vh;
        visibility: hidden;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1031;
        padding: 0;
        transition: .5s linear;
    }
    #player-screen {
        background-color: rgba(0, 0, 0, .7);
    }
    div#player-screen::-webkit-scrollbar {
        display: none;
    }
    #content::-webkit-scrollbar {
        display: none;
    }
    footer div#play-pause-container {
        width: 2.5rem;
        height: 3.5rem;
        padding: .6rem 0 0 0;
        background: none;
    }
    footer div#play-pause-container:hover {
        background: none;
    }
    footer div#play-pause-container div#play-pause {
        width: 2.5rem;
        height: 2.5rem;
    }
    .player-progress-bar-card {
        border-radius: 0;
        background: none;
    }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        #player-screen {
            backdrop-filter: blur(10px) saturate(0.5);
            background: none;
        }
    }
}

@media(min-width:768px) {
    #content {
        padding-right: 1rem;
    }
}

/* Medium Screen player expanded */

@media(max-width: 576px), (min-width:768px) and (max-width:991px) {
    .hero {
        flex-direction: column;
    }
    ul.timeline:before {
        left: 20px;
    }
    ul.timeline>li {
        margin-bottom: 1rem;
        position: relative;
        width: 100%;
        padding: 0 1rem 0 0;
        float: left;
        clear: left;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 3rem);
        width: -moz-calc(100% - 3rem);
        width: -webkit-calc(100% - 3rem);
        border-radius: 0 1rem 1rem 1rem;
        float: right;
    }
    ul.timeline>li>.timeline-panel>.timeline-heading {
        text-align: left;
    }
    ul.timeline>li>.timeline-panel>.timeline-body {
        text-align: left;
    }
    ul.timeline>li>.timeline-badge {
        left: .25rem;
        margin-left: 0;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline>li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .timeline>li.timeline-inverted>.timeline-badge {
        left: .25rem;
    }
}